[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/dillonzq/LoveIt
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/de-souza/hugo-flex
[submodule "themes/arabica"]
	path = themes/arabica
	url = https://github.com/nirocfz/arabica.git
