@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Andika';
    src: url('/fonts/Andika-Regular.ttf');
    font-weight: 400;
}


.post-content, .entry-content{
    font-family: 'Andika', sans-serif;
}

.post-header, .entry-header {
    font-family: "Raleway", sans-serif;
    font-weight: bold;

}
h1.post-title {
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: rgb(255, 215, 55, 0);
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.1em; 
    transition: 0.5s;

}
h1.post-title:hover {
    text-decoration-color: rgb(255, 215, 55,1);
    transition: 0.75s
}

a:hover {
    transition: 200ms;
}
.dark a:hover {
    color: rgb(255, 201, 53);
}
a:hover {
    color: rgb(249, 191, 32);
}

::selection {
    background-color: rgba(255, 215, 55, 0.601);
}
.terms-tags li:hover {
    scale: 1.05;
    transition: 500ms ;
}

.main .post-entry:hover {
    scale: 1.02;
    transition: 100ms ;
}