@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Andika';
    src: url('/fonts/Andika-Regular.ttf');
    font-weight: 400;
}


.post-content, .entry-content{
    font-family: 'Andika', sans-serif;
}

.post-header, .entry-header {
    font-family: "Raleway";
    font-weight: bold;
}